<!-- ユーザーの詳細 -->
<h1>User info</h1>
  <div>
    <%= image_tag user.get_profile_image(100,100) %>
    <h3>name <%= user.name %></h3>
    <h3>introduction <%= user.introduction %></h3>
    <% if user == current_user %>
      <p>
        <%= link_to edit_user_path(user), class: "btn", method: :get do %>
        <i class="fas fa-user-cog"></i>
        <% end %>
      </p>
    <% end %>
  </div>